<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: today</p>
            <h2><a href="">First Blog Post</a></h2>
            <p>Yeah.</p>
        </div>

        <div>
            <p>published: today</p>
            <h2><a href="">Yippy!!!</a></h2>
            <p>Yippy!!!</p>
        </div>

        <div>
            <p>published: today</p>
            <h2><a href="">Another one</a></h2>
            <p>Woohoo</p>
        </div>

        <div>
            <p>published: today</p>
            <h2><a href="">Great Sunday Exercise</a></h2>
            <p>Woohoo</p>
        </div>
    </body>
</html>